<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quem Somos</title>
</head>
<body>
    <h3>Nossa História</h3>
    <p>A Insure foi criada em 2022 com intuito de dar mais proteção ao nossos clientes e nisto foi formada a Insure4Soft </p>
<h4> Missão</h4>
<p>nossa missão é dar mas clareza, conforto e segurança ao nossos clientes </p>
<h4>Visão</h4>
<p>é dar para todas as pessoas a facilidade para de acessar nosso site e app para poder que tenham a possibilidade de ter um seguro para o seu smarthphone </p>
<h4>Valores</h4>
<p>somos muito Intransigente na nossa segurança e a dos clientes </p>
</body>
</html>
