<div class="container simulacao">
  <div class="row">
    <div class="col-md-6 mt-5">

      <div class="row">
        <div class="col-md-6 ">
            <h3>Simulador de Seguro</h3>
            <h6>Selecionar marca</h6>
            <select class="form-select" aria-label="Default select example">
                <option selected>Marca</option>
                <option value="1">Asus</option>
                <option value="2">Iphone</option>
                <option value="3">LG</option>
                <option value="4">Motorola</option>
                <option value="5">Samsung</option>
                <option value="6">Outro...</option>
              </select>
              <h6>Selecione o Modelo do seu aparelho</h6>
              <select class="form-select" aria-label="Default select example">

                  <option selected>Modelo</option>
                  <option value="1">Asus ZenFone 9</option>
                  <option value="2">Iphone 12 PRO MAX</option>
                  <option value="3">LG k10</option>
                  <option value="4">Moto Edge 20</option>
                  <option value="6">Samsung S10</option>
                  <option value="7">Outro...</option>
                </select>
                <h6>Simular Seguro</h6>
                

                
                <div class="d-grid gap-2">
                    <input class="form-control" type="text" value="" aria-label="readonly input example" readonly>
                </div>

                <div class="btns-group">

                  <div class="d-grid gap-1">
                    <button class="btn btn-primary btns" type="button">Simular</button>   
                  </div>

                  <div class="d-grid gap-1">
                    <button class="btn btn-primary btns" type="button">Cancelar</button>   
                  </div>

                </div>
        </div>
      </div>

            
    </div>

        <div class="col-md-6 text-center">
            <img id="logo-simulacao" width="400" height="400" src="assets/img/logo.png" alt="" srcset="">
      </div>
        
      </div>
    </div>

   


    <!-- <div class="col-md-6">
    </div> -->

