<div class="container">
    <header>
        <h1>Esqueci minha senha</h1>
        <h5>Calma! Vamos ajudar você com isso.  :)</h5>
    </header>
    <div class="row">
        <div class="col">
            <section id="formulario">
                <form class="row g-2" action="#" method="get">
              <div class="col-md-4">
                        
                        <input type="email" class="form-control" id="exempleInputEmail" name="email" minlength="3"
                         maxlength="100"  placeholder="E-mail Cadastrado" required>
               </div>
               <div class="col-md-6"> 
                   <button type="button" class="btn btn-primary">Enviar</button>
               </div>
              
               
                </form>
            </section>
            
        </div>
    </div>
</div>