<div class="container">
  <header>
    <h1>Login</h1>
  </header>
  <!-- <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Esqueceu a senha?</label>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <button type="submit" class="btn btn-primary">Cancelar</button>
          </form> -->
  <div class="row">
    <div class="col">
      <section id="formulario">
        <form class="row g-5" action="#" method="get">
          <div class="col-md-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="exempleInputEmail" name="email" minlength="3" maxlength="100" required>
          </div>
          
          <div class="col-md-12">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" minlength="6" maxlength="10" required>
          </div>

          <div class="col-md-6">
            <button type="button" class="btn btn-primary">Entrar</button>            
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary">Cancelar</button>
          </div>
          

         <a routerLink="/esqueci">Esqueci minha senha</a>
      
        
        </form>
      </section>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    
  </div>
   



</div>