<div class="container">
<div class = "col-md-4">
        <label for="nome" class = "form-label">Nome</label>
        <input type="text" class = "form-control" id="nome" name="nome"
        minlength="3" maxlength="100" required>
    </div> <br>
    
    <div class = "col-md-2">
        <label for="nome" class = "form-label">CPF:</label>
        <input type="text" class = "form-control" id="nome" name="nome"
        minlength="3" maxlength="100" required>
    </div> <br><br>
<div class="col-md-2">
    <select class="form-select" aria-label="Default select example">
        <option selected>Selecionar Sinistro</option>
        <option value="1">Boletim de Ocorrência</option>
        <option value="2">Assistência técnica </option>
        <option value="3">Serviço pela própria seguradora </option>
      </select> <br><br>
    </div>
    <div class="col-md-4">
        <label for="formFile" class="form-label">Boletim de Ocorrência</label>
        <input class="form-control form-control-sm" type="file" id="formFile">
      </div> <br>

      <div class="col-md-4">
        <label for="formFileMultiple" class="form-label">Assistência técnica</label>
        <input class="form-control form-control-sm" type="file" id="formFileMultiple" multiple>
      </div> <br>

      <div class="col-md-4">
        <label for="formFileSm" class="form-label">Serviço pela Seguradora</label>
        <input class="form-control form-control-sm" type="file" id="formFileSm" >
      </div> <br>

      <button type="submit" class="btn btn-success">Enviar</button>
      <button type="reset" class="btn btn-danger">Voltar</button>
    </div>